<!-- <div class="text-layout">

    <h1> {{ nombre | titlecase }} </h1>
    <h2> {{ valor | number }} </h2>
    <h2> {{ obj | json}} </h2>

    <button pButton 
            label="Cambiar Nombre"
            icon="pi pi-check"
            iconPos="right"
            class="p-button-help"
            (click)="mostrarNombre()">
    </button>

    <p-card [header]="nombre | titlecase"
            subheader="Esto es un subheader">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Id similique, itaque voluptate consectetur sint placeat ab alias facere minus quasi ipsam at fuga cum eaque animi expedita perferendis eius praesentium?
    </p-card>
    
</div> -->
<app-menu></app-menu>
<router-outlet></router-outlet>